<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link href="../static/style.css" type="text/css" rel="stylesheet">
    </link>
</head>
<body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
    <h1 style="color:red">New Community</h1>   
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.name.label }}<br>
          {{ form.name(size=32) }}<br>
        </p>
        <p>
          {{ form.desc.label }}<br>
          {{ form.desc(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>